.container :global(.file-link) {
  color: inherit;
  text-decoration: none;
}

.cmdActive :global(.file-link) {
  cursor: pointer;
  color: var(--accent);
}

.cmdActive :global(.file-link):hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
}
